:root {
  --main-primary-color: #3b4d74;
  --main-accent-color: #aa2424;
  --background-grey: #e7e7e7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.container {
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.login-dash {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.top-login {
  width: 100%;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  padding: 2rem 3rem;
  flex-wrap: wrap;
}
.top-left,
.top-right {
  flex: 1;
  width: 100%;
}
.top-image-holder {
  width: 100%;
  min-width: 200px;
  height: 100px;
}
.top-right h1 {
  width: 100%;
  color: var(--main-primary-color);
  text-align: right;
}
.top-right h1 span {
  color: var(--main-accent-color);
}
.main-login-section {
  width: 100%;
  display: flex;
  min-height: 60vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.left-login,
.right-login {
  flex: 1;
  width: 100%;
  min-width: 250px;
}
.welcome-title {
  width: 100%;
  text-align: center;
  color: var(--main-primary-color);
  font-size: 3em;
}
.right-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-action {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: center;
}
.input-holder {
  width: 100%;
  display: flex;
  min-width: 200px;
  margin: 0.1rem 0;
  padding: 0.3rem 1rem;
  align-items: center;
}
.login-label {
  color: var(--main-primary-color);
  font-weight: 700;
  width: 100px;
}
.input-space:hover,
.input-space:active,
.input-space:focus {
  transform: scale(1.01);
}
.input-space {
  outline: none;
  transition: all 150ms linear;
  border: none;
  padding: 0 0 0 1rem;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  height: 2.5rem;
  width: 100%;
}
.button-holder {
  width: 100%;
  margin: 1.5rem 0;
}
.btn {
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: var(--main-accent-color);
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: all 150ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.05);
}

/* DASHBOARD CSS */

.dash-container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-grey);
  position: relative;
  display: flex;
  flex-direction: column;
}
.side-bar {
  width: 20%;
  height: 100vh;
  min-width: 200px;
  background-color: #fff;
  position: fixed;
  top: 0;
  transition: all 200ms linear;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-bar-content {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.top-image-holder.dash-img {
  padding: 1rem;
}
.links {
  flex: 1;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links.lower {
  justify-content: flex-end;
  padding: 0 0 1rem 0;
}
.list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #3b4d74;
  font-size: 1.2em;
  padding: 0.7rem 0 0.7rem 3rem;
  background-color: #fff;
  transition: all 500ms linear;
}
.link:hover {
  background-color: var(--background-grey);
  transition: all 100ms linear;
}
.link.logout {
  color: var(--main-accent-color);
}
.link.logout:hover {
  background-color: var(--main-accent-color);
  color: #fff;
  transition: all 100ms linear;
}
.link.active {
  background-color: var(--background-grey);
}
.link.active:hover {
  background-color: #c4c4c4;
}
.hamburger {
  width: 40px;
  background-color: #c4c4c4;
  height: 35px;
  position: absolute;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  top: 2%;
  right: 8%;
}
.hamburger:hover,
.hamburger:focus {
  transform: scale(1.05);
}
.hamburger .bar {
  height: 4px;
  border-radius: 0.3rem;
  margin: 2px 0;
  width: 75%;
  background-color: #ffffff;
}

/* TOP BAR CODE */

.top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 90;
  padding-top: 0.5rem;
  right: 0;
  height: 2.5rem;
}
.user-name-space {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
}
.user-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.user-icon .image-holder {
  max-width: 80px;
}

.user-icon .image-holder img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e7e7e7;
}
.username-dash {
  font-weight: 500;
  padding: 0 2rem 0 1rem;
  font-size: 1em;
}

/* DASH MAIN CODE */

.dash-main {
  min-height: 100vh;
  width: 75%;
  padding-bottom: 5rem;
  margin-left: auto;
}
.dash-content {
  margin-right: 3rem;
  margin-top: 5rem;
}
.top-inputs {
  width: 100%;
}
.top-inputs h2,
.top-inputs p {
  padding: 0 2rem;
}
.new-user-dash {
  width: 100%;
}
.split-diplay.other {
  margin: 1rem 0;
  justify-content: initial;
}
.split-diplay {
  width: 100%;
  display: flex;
  min-width: 200px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input-holder.split {
  flex: 1;
}
.time-bar {
  position: fixed;
  bottom: 0;
  height: 3.5rem;
  z-index: 90;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.541);
}
.time-bar h3 {
  width: fit-content;
  height: 3.5rem;
  text-align: right;
  display: flex;
  padding: 0 3rem;
  align-items: center;
  background-color: #fff;
}
.users-list {
  width: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.users-list h3 {
  width: 100%;
}
.user-list-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.user-list-card {
  background-color: #fff;
  margin: 0.3rem 0 0 0;
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 300ms linear;
}
.user-list-card:hover {
  background-color: #fcfcfc;
  transition: all 150ms linear;
}
.user-info-holder {
  width: 100%;
  flex: 1;
  padding: 1rem;
  border: 1px solid #c4c4c4;
  display: flex;
  flex-wrap: wrap;
}
.user-info-holder .tag {
  width: 50px;
  color: var(--main-primary-color);
}
.user-info-holder.options {
  flex-wrap: nowrap;
  padding: 0;
}
.user-info-holder.options .user-options.delete:hover {
  background-color: #dd0c0c;
  transition: all 150ms linear;
}
.user-info-holder.options .user-options.delete {
  background-color: #b81919;
}
.user-info-holder.options .user-options:hover {
  background-color: #1db832;
  transition: all 150ms linear;
}
.user-info-holder.options .user-options {
  width: 100%;
  height: 100%;
  flex-wrap: 1;
  transition: all 300ms linear;
  display: flex;
  font-weight: 500;
  outline: 1px solid #fff;
  min-height: 3rem;
  min-width: 70px;
  border: 1px solid #fff;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-color: #29a039;
}

.user-info-holder.options .user-options:hover {
  animation: outlineAnim 600ms forwards;
}

@keyframes outlineAnim {
  0% {
    outline-offset: 0px;
  }
  50% {
    outline-offset: -12px;
  }
  100% {
    outline-offset: -6px;
  }
}

.hover-hamburger {
  background-color: #fff;
  width: 70px;
  height: 2.5rem;
  z-index: 100;
  margin: auto;
  top: 5%;
  z-index: 100;
  transition: all 200ms linear;
  left: 19%;
  align-items: center;
  position: fixed;
  display: none;
  cursor: pointer;
  justify-content: flex-end;
  border-radius: 0 150px 150px 0;
}
.other-hover-hamburger {
  background-color: #fff;
  width: 70px;
  height: 2.5rem;
  z-index: 100;
  margin: auto;
  top: 6%;
  z-index: 100;
  transition: all 200ms linear;
  right: -20%;
  align-items: center;
  position: absolute;
  display: none;
  cursor: pointer;
  justify-content: flex-end;
  border-radius: 0 150px 150px 0;
}
.inner-hamburger {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  padding: 0 4px;
  flex-direction: column;
  margin-right: 0.5rem;
  justify-content: center;
}
.inner-hamburger .bar {
  height: 3px;
  width: 100%;
  border-radius: 2rem;
  margin: 2px 0;
  background-color: rgb(179, 179, 179);
}
.nav-overlay {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.212);
  left: -100%;
  position: absolute;
}
.client-content {
  width: 100%;
  display: flex;
  margin-right: 3rem;
  flex-direction: column;
}
.top-search-bar {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  padding: 0 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.search-input-holder {
  width: 100%;
  flex: 1;
}
.btn.add-new {
  max-width: 200px;
  margin: 1rem 0;
  min-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-primary-color);
  flex: 1;
}
.btn.btn.add-new:hover {
  transform: scale(1.02);
}
.search-input {
  border: 1px solid rgb(158, 158, 158);
  outline: none;
  color: var(--main-primary-color);
  background-color: #fff;
  height: 2.4rem;
  background: url("../images/search-icon.png");
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  background-position: 10px 6px;
  padding: 12px 20px 12px 40px;
  background-size: 1.5em;
  min-width: 200px;
  width: 90%;
}
.dash-table-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-list-table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
}
.info-list-table th {
  background-color: var(--main-primary-color);
  color: #fff;
  padding: 12px 0;
}
.info-list-table td,
.info-list-table th {
  border: 1px solid #cfcfcf;
  padding: 9px;
  text-align: center;
}
.info-list-table.users td {
  border: 1px solid #cfcfcf;
  padding: 0px;
  text-align: center;
}
.info-list-table tbody tr {
  cursor: pointer;
}
.info-list-table.users tbody tr {
  cursor: auto;
}
.info-list-table tr:hover {
  background-color: rgb(238, 238, 238);
}

.info-list-table tr:nth-child(even):hover {
  background-color: rgb(202, 202, 202);
}
.info-list-table tr:nth-child(even) {
  background-color: #ddd;
}
.rows {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.data-col {
  flex: 1;
}
.data-input-title {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
.client-profile-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .top-nav-options::before {
  content: "";
  position: absolute;
  background-color: white;
  height: 1px;
  border-radius: 150px;
  left: 0.4%;
  width: 98px;
  pointer-events: none;
  bottom: 7%;
}
.top-nav-options::after {
  content: "";
  position: absolute;
  pointer-events: none;
  background-color: white;
  height: 1px;
  border-radius: 150px;
  left: 0.4%;
  width: 98px;
  bottom: 4%;
} */
.top-nav-options {
  width: 100%;
  display: flex;
  position: relative;
}
/* .nav-options-link:last-child.active:hover {
  background-color: var(--main-primary-color);
  color: #fff;
} */
.nav-options-link.active {
  background-color: #fff;
  color: var(--main-primary-color);
}
.nav-options-link.active:hover {
  background-color: #fff;
  color: var(--main-primary-color);
}
.nav-options-link:hover {
  background-color: #eeeded;
  color: var(--main-primary-color);
  /* border-radius: 0 0.5rem 0 0; */
}
.nav-options-link {
  background-color: #eeeded;
  border-radius: 0 0.5rem 0 0;
}
/* .nav-options-link.active:hover {
  background-color: #dd0c0c;
  color: #fff;
} */
/* .nav-options-link:hover {
  background-color: #dd0c0c;
} */
.nav-options-link {
  min-width: 100px;
  border-radius: 0.5rem 0 0 0;
  background-color: #eeeded;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0.3rem;
  color: rgb(104, 104, 104);
  font-weight: 500;
  border: none;
}
.display-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 0 20px 20px 20px;
}
.client-details-display {
  width: 100%;
  display: flex;
  padding-left: 1rem;
  margin: 0.7rem 0;
  flex-wrap: wrap;
}

.client-details-display h4 {
  font-weight: 300;
}
.client-details-display .main {
  min-width: 135px;
  font-weight: 600;
  width: 135px;
}
.popup-info-display {
  width: 100%;
  height: 100vh;
  display: flex;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 250ms linear;
}
.popup-overlays {
  background-color: transparent;
  opacity: 1;
  position: absolute;
  top: initial;
  z-index: 101;
  bottom: 0;
  pointer-events: none;
  right: 0;
  transition: all 250ms linear;
  left: 0;
}
.popup-overlays.show {
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  z-index: 101;
  bottom: 0;
  pointer-events: all;
  right: 0;
  left: 0;
  transition: all 250ms linear;
}
.pop-up-selections {
  background-color: #fff;
  z-index: 102;
  position: absolute;
  border-radius: 0.4rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  pointer-events: none;
  justify-content: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  align-items: center;
  width: 50%;
  min-height: 50vh;
  top: -100%;
  transition: all 150ms linear;
}
.pop-up-selections.show {
  background-color: #fff;
  z-index: 102;
  position: absolute;
  border-radius: 0.4rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  pointer-events: all;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 50vh;
  top: 20%;
  transition: all 150ms linear;
}
.popup-link:first-child:hover {
  background-color: #dd0c0c;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
.popup-link:first-child {
  background-color: #aa2424;
}
.popup-link {
  background-color: #3b4d74;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  transition: all 300ms linear;
}
.popup-link:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  transition: all 150ms linear;
  background-color: #4b6db4;
}
.admin-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.admin-card-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.admin-card {
  background-color: var(--main-primary-color);
  color: var(--background-grey);
  width: 250px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  justify-content: flex-end;
  padding: 3rem 1rem 1rem 1rem;
  min-width: 200px;
  margin: 0 2rem;
  transition: all 250ms linear;
  border-radius: 0.7rem;
}
.admin-card.logs {
  background-color: var(--main-accent-color);
}
.admin-card:hover {
  transform: scale(1.01);
  transition: all 150ms linear;
}
.management-option-desc {
  font-weight: 400;
}
.data-col.full-screen {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.manage-user-btn.del {
  background-color: var(--main-accent-color);
  border: 1px solid var(--main-accent-color);
}
.manage-user-btn {
  background-color: #299b4f;
  color: #fff;
  width: 200px;
  min-width: 200px;
  text-align: center;
  margin: 1rem;
  padding: 1rem 2rem;
  border: 1px solid #299b4f;
  outline: 1px solid var(--background-grey);
  transition: all 250ms linear;
}
.manage-user-btn.del:hover {
  background-color: #c54848;
}
.manage-user-btn:hover {
  background-color: #3bb363;
  transition: all 150ms linear;
  animation: outlineAnim 600ms forwards;
}
.benefits-list-display {
  width: 100%;
  flex-direction: column;
  display: none;
  margin-top: 2rem;
}
.checkbox-holder label {
  cursor: pointer;
}
.checkbox-holder {
  margin: 0 0 0 1rem;
  min-width: 220px;
  width: 220px;
  max-width: 220px;
}
.check-box {
  margin: 0 0.3rem;
}
.check-box-holder-data {
  max-width: 160px;
  margin: 0 1rem;
}
.data-col.premiums {
  background-color: var(--background-grey);
}
.policy-benefits-display {
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 1em;
  padding: 1em;
}
.documents-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.documents-holder {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
}
.doc-info {
  flex: 1;
  width: 100%;
  display: flex;
  margin: 0.2rem 0;
  min-width: 100px;
  justify-content: center;
  align-items: center;
}
.doc-info.options {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.doc-option-links.upload2:hover {
  background-color: #435f99;
}
.doc-option-links.upload:hover {
  background-color: #b81919;
}
.doc-option-links.upload.other {
  max-width: 200px;
  margin-top: 3rem;
}
.doc-option-links.upload2 {
  background-color: #3b4d74;
}
.doc-option-links.upload {
  background-color: #aa2424;
}
.upload-section-other {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.doc-option-links {
  width: 100%;
  flex: 1;
  margin: 0 0.2rem;
  padding: 0.5rem 0;
  color: #fff;
  display: flex;
  background-color: #299b4f;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.doc-option-links:hover {
  background-color: #3bb363;
}
.doc-link {
  color: rgb(19, 19, 201);
  text-decoration: underline;
}
.doc-link:hover {
  color: rgb(51, 51, 255);
}
.new-link {
  background-color: #3b4d74;
  height: 100%;
  height: 2.5rem;
  border-radius: 0;
  display: flex;
  align-items: center;
}
.new-link:hover {
  transform: scale(1);
}
#sum_insured_better_holder {
  display: none;
}
#cars_registered {
  background-color: #eee;
  pointer-events: none;
  cursor: not-allowed;
}
.glowing-holder {
  /* background-color: teal; */
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.glow-box {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem 0 0.5rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.glow-box.green {
  background-image: radial-gradient(#09ff00, #168a12);
  box-shadow: 0 0 0.5rem #2bbb26;
}
.glow-box.yellow {
  background-color: rgb(231, 163, 17);
  background-image: radial-gradient(rgb(255, 251, 0), rgb(199, 202, 0));
}
.glow-box.red {
  box-shadow: 0 0 0.5rem rgb(255, 0, 0);
  background-image: radial-gradient(rgb(255, 45, 45), #941010);
}

/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
  .dash-table-display {
    overflow-x: scroll;
    padding: 0 0 0 250px;
  }
}
@media screen and (max-width: 800px) {
  .side-bar {
    left: -100%;
  }
  .side-bar.show {
    left: 0%;
  }
  .dash-content {
    margin-right: 0;
  }
  .dash-main {
    margin: auto;
    width: 90%;
  }
  .hover-hamburger {
    left: -2%;
    display: flex;
  }
  .hover-hamburger.show {
    /* left: -50%; */
    z-index: -1;
  }
  .nav-overlay.show {
    left: 0%;
  }
  .other-hover-hamburger.show {
    right: -30%;
    display: flex;
  }

  .dash-table-display {
    overflow-x: scroll;
  }
}
